.mountainMask {
  -webkit-mask-image: linear-gradient(to top, black 70%, transparent 97%);
  mask-image: linear-gradient(to top, black 70%, transparent 97%);
}

@media (max-width: 640px) {
  .mountainMask {
    -webkit-mask-image: linear-gradient(to top, black 68%, transparent 95%);
    mask-image: linear-gradient(to top, black 68%, transparent 95%);
  }
}
